.logo {
    position: relative;
    top: 5px;
    left: 20px;
    width: 80px;
    cursor: pointer;
}

.navbar {
    font-weight: 500;
}

.nav-items {
    margin-right: 20px;
}


@media screen and (max-width: 992px) {
    .logo {
        position: relative;
        width: 70px;
        left: 0;
    }

    .item {
        margin-top: 10px;
        margin-left: 5px;
    }
}