.logo {
    position: fixed;
    top: 5px;
    left: 20px;
    width: 80px;
    cursor: pointer;
}



@media screen and (max-width: 992px) {
    .logo {
        position: relative;
        width: 70px;
        left: 0;
    }
}