{% extends 'base.html' %}


{% block content %}
	{{ player }}
		<br>

		<table>
			<tr>
				<th>Total Matches</th>
				<th>Total Gaols</th>
				<th>Total Assists</th>
			</tr>

			<tr>
				<th>{{ player.total_matches }}</th>
				<th>{{ player.total_goals }}</th>
				<th>{{ player.total_assists }}</th>
			</tr>


		</table>






	{% for stat in player.games_stats %} 
		<a href="{{ url_for('match_stats', player_id = stat.player_id, match_id = stat.match_id) }}">
		{{ matches.query.filter_by(id = stat.match_id).first() }}
		</a>
		{{ stat.minutes_played }} minutes played
		<br>
	{% endfor %}
{% endblock %}