{% extends 'base.html' %}


{% block content%}
	<h1>TEAMS</h1>
	<table class="teams_table">
		<tr>
			<th></th>
			<th>Team</th>
			<th>Matchs Played</th>
			<th>Wins</th>
			<th>Loses</th>
			<th>Draws</th>
			<th>Goals</th>
			<th>Points</th>
		</tr>
		{% if teams %}
			{% for team in teams %}
			<tr>
				<th>{{ teams.index(team) + 1 }}</th>
				<th>{{ team.name }}</th>
				<th>{{ team.wins + team.draws + team.loses }}</th>
				<th>{{ team.wins }}</th>
				<th>{{ team.draws }}</th>
				<th>{{ team.loses }}</th>						
				<th>{{ team.goals_scored }} : {{ team.goals_concended }}</th>
				<th>{{ team.points }}</th>
			</tr>
			{% endfor %}

		{% endif %}
	</table>


{% endblock %}